
[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = [ "ALL" ]
ignore = [
    # "D203", # incorrect-blank-line-before-class
    "D211", # blank-line-before-class
    # "D213", # multi-line-summary-second-line
    "D212", # multi-line-summary-first-line
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = [
    "ANN401",   # any-type
    "PLR2004",  # magic-value-comparison
    "S101",     # assert
]
