
[tool.pytest.ini_options]
addopts = "--strict-markers --no-header --tb=no --cov --cov-report term-missing"
testpaths = ["tests"]


[tool.coverage.run]
omit = ["tests/*"]


[tool.pyright]
typeCheckingMode = "strict"
venvPath = "."
venv = ".venv"
# pythonPlatform = "Linux"


[tool.mypy]
strict = true
disallow_untyped_defs = true
exclude = ["build"]
# python_executable = ""


[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = [ "ALL" ]
ignore = [
    # "D203", # incorrect-blank-line-before-class
    "D211", # blank-line-before-class
    # "D213", # multi-line-summary-second-line
    "D212", # multi-line-summary-first-line
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = [
    "ANN401",   # any-type
    "PLR2004",  # magic-value-comparison
    "S101",     # assert
]


[tool.black]
line-length = 120


[tool.isort]
profile="black"
multi_line_output = 3
force_grid_wrap = 2

